.navigation{
    & ul{
        list-style: none;
        display: flex;
        justify-content: space-around;
        background-color: cadetblue;
        margin: 0;
        padding: .3em;
        font-size:xx-large;
        & li > a{
            text-decoration: none;
        }
    }
}
