table.calendar {
    /* background-color: aqua; */
    border-collapse: collapse;
    & td{
        border: 1px solid white;
        cursor: pointer;
    }
    & .selected{
        background-color: red;
        border-radius: 50%;
    }
}