.grid{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    gap: 2em;
    & fieldset {
        width: 150px;
        padding: 1em;
        margin-top: .7em;
        border-radius: 20px;
    }
}

.dateselector{
    border: 1px solid gray;
    text-align: right;
    &::after{
        content: '📅';
    }
}

.pinkcalendar {
    background-color: black;
    border-collapse: collapse;
    & td{
        border: 1px solid white;
        cursor: pointer;
        color: white;
    }
    & .selected{
        
        background-color: blueviolet;
        border-radius: 50%;
    }
}